main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.url-input {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 7%;
  margin-top: 10%;
}

.url-input input {
  width: 40%;
  background: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}

button {
  cursor:pointer;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

.params{
  margin-top:2rem;
}

.selector{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:3rem;
}

.format{
  font-family: 'Archivo Black', sans-serif;
  font-size:50px;
  cursor: pointer;
}

.format-active{
  color:rgb(255, 92, 92);
}

.format-deactive{
  color:rgb(126, 126, 126);
}

.quality{
  font-family: 'Archivo Black', sans-serif;
  font-size:25px;
  cursor: pointer;
}

.quality-active{
  color:rgb(92, 255, 179);
}

.quality-deactive{
  color:rgb(126, 126, 126);
}

.quality-unavailable{
  cursor:default;
  color:#3b3b3b;
}

.messages{
  width:100%;
  text-align: center;
}

.error-msg {
  font-family: 'Archivo Black', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-size:100px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: gradient 5s ease-in-out infinite alternate;
}

/* card */
.card {
  box-sizing: border-box;
  margin-top:5%;
  width:40%;
  height: 20%;
  background: #212121;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card h1,.card p{
  font-family: 'Mooli', sans-serif;
  font-weight: 800;
  color:#e8e8e8;
}

@media(max-width:740px){
  .url-input{
    flex-direction: column;
    align-items: center;
    height: 50vh;
    gap:40px;
  }

  .url-input button{
    width:30%;
    height: 20%;
  }

  .url-input input {
    width: 70%;
  }

  .error-msg{
    font-size: 10vw;
  }

  .card{
    width: 60%;
  }
}

@media(max-width:550px){
  .card{
    width: 90%;
  }
}

@media(max-width:440px){
  .url-input button{
    height: 60px;
    width: 110px;
  }

  .url-input input {
    width: 270px;
  }

  .selector{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
  }

  .card h1,.card p{
    font-size: 5vw;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
