<main>
  <div class="url-input">
    <input type="url" [formControl]="url" placeholder="YouTube URL" />
    <button *ngIf="!isLoading()" (click)="convert()" class="comic-button">
      convert
    </button>
    <span *ngIf="isLoading()" class="loader"></span>
  </div>
  <div class="params">
    <div class="selector">
      <h2
        class="quality"
        *ngFor="let quality of availableQualities"
        (click)="qualitySelected = quality"
        [ngClass]="{
          'quality-active': quality == qualitySelected,
          'quality-deactive': quality != qualitySelected,
          'quality-unavailable': formatSelected == 'wav'
        }"
      >
        {{ quality.toUpperCase() }}
      </h2>
    </div>
    <div class="selector">
      <h1
        class="format"
        *ngFor="let format of availableFormats"
        (click)="formatSelected = format"
        [ngClass]="{
          'format-active': format == formatSelected,
          'format-deactive': format != formatSelected
        }"
      >
        {{ format.toUpperCase() }}
      </h1>
    </div>
  </div>
  <div class="messages">
    <h1 class="error-msg" *ngIf="error()">{{ error() }}</h1>
  </div>
  <div class="card" (click)="goToPortfolio()">
    <h1>Thiago (tiki) Quaglia</h1>
    <p>Todos los derechos reservados.</p>
  </div>
</main>
