:root {
  --color-bg: #212121;
  --color-neon-green: rgb(0, 255, 136);
  --color-neon-cyan: rgb(61, 200, 255);
  --color-neon-red: rgb(255, 92, 92);
  --color-text: #e8e8e8;
  --color-muted: #aaaaaa;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
